# Environnement virtuel Python
venv/
.venv/
env/
__pycache__/
*.pyc

# Base de données locale SQLite
*.db
*.sqlite3

# Fichiers médias lourds (doivent être hébergés ailleurs, ex: Cloudflare R2)
static/videos/*
!static/videos/.gitkeep
static/images/*
!static/images/.gitkeep
!static/images/logo.png
!static/images/intro.webp
!static/images/intro.gif
!static/images/default_cover.png

# Fichiers système
.DS_Store
.vscode/
.idea/
